<div class="top">
  <div>
    <button  mat-stroked-button color="primary" (click)="openCreateDialog()">
      <mat-icon>add_circle_outline</mat-icon>
      <span>Add New Book</span>
    </button>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input placeholder="Search" matInput [(ngModel)]="searchField" (keyup)="search($event)">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
   
  </div>

</div>
<mat-table class="general-table"
           #table [dataSource]="dataSource"
           matSort
           (matSortChange)="customSort($event)"
           [@animateStagger]="{value:'50'}"
           fusePerfectScrollbar>

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
    <mat-cell *matCellDef="let item">
      <p>{{item.id}}</p>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="bookTitle">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
    <mat-cell *matCellDef="let item">
      <p>{{item.title}}</p>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="publishedAt">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Publish Date</mat-header-cell>
    <mat-cell *matCellDef="let item">
      <p>{{item.publishedAt | date:'mediumDate'}}</p>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="isbn">
    <mat-header-cell *matHeaderCellDef mat-sort-header>ISBN</mat-header-cell>
    <mat-cell *matCellDef="let item">
      <p>{{item.isbn}}</p>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="authors">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Authors</mat-header-cell>
    <mat-cell *matCellDef="let item">
      <ng-container *ngFor="let author of item.authors">

        <span style="background-color:rgb(245,245,245);border-radius:3px;padding:3px;font-size:11px;margin-right:3px">{{author.name}}</span>
      </ng-container>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="cell-align-right">
      Action
    </mat-header-cell>
    <mat-cell *matCellDef="let item" class="cell-align-right">
      <div style="display:flex">
        <button mat-icon-button color="primary" (click)="openEditDialog(item.id)"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="primary" routerLink="/book-history/{{item.id}}"><mat-icon>history</mat-icon></button>
        <button mat-icon-button color="warn" (click)="delete(item.id)"><mat-icon>delete</mat-icon></button>

      </div>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

  <mat-row *matRowDef="let bankers; columns: displayedColumns;"
           class="general">
  </mat-row>

</mat-table>
<pager [totalCount]="totalCount" [selected]="filterDetails.currentPage" (onPageChanged)="onPageChanged($event)" [pageSize]="filterDetails.pageSize"></pager>
