USE [Iman_Esmaili_BookDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/21/2022 6:57:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuthorBook]    Script Date: 2/21/2022 6:57:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorBook](
	[BookId] [int] NOT NULL,
	[AuthorId] [int] NOT NULL,
 CONSTRAINT [PK_AuthorBook] PRIMARY KEY CLUSTERED 
(
	[BookId] ASC,
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 2/21/2022 6:57:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Authors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookHistories]    Script Date: 2/21/2022 6:57:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [int] NOT NULL,
	[LogDate] [datetime2](7) NOT NULL,
	[OldValue] [nvarchar](100) NULL,
	[CurrentValue] [nvarchar](100) NOT NULL,
	[Field] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_BookHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 2/21/2022 6:57:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookTitle] [nvarchar](200) NOT NULL,
	[ISBN] [nvarchar](15) NOT NULL,
	[PublishedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Description] [nvarchar](400) NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220216132405_Initial', N'6.0.2')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220218125902_AddedIsDeletedToAuthors', N'6.0.2')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220219152425_AddedSqlHistory', N'6.0.2')
GO
INSERT [dbo].[AuthorBook] ([BookId], [AuthorId]) VALUES (1, 1)
INSERT [dbo].[AuthorBook] ([BookId], [AuthorId]) VALUES (2, 1002)
INSERT [dbo].[AuthorBook] ([BookId], [AuthorId]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([Id], [Name], [IsDeleted]) VALUES (1, N'Ginger993', 1)
INSERT [dbo].[Authors] ([Id], [Name], [IsDeleted]) VALUES (2, N'Ginger', 1)
INSERT [dbo].[Authors] ([Id], [Name], [IsDeleted]) VALUES (3, N'Alan88', 1)
GO
SET IDENTITY_INSERT [dbo].[Authors] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([Id], [BookTitle], [ISBN], [PublishedAt], [IsDeleted], [Description]) VALUES (1, N'HRGM1S45G9', N'SGO2X8MAT0DUQPT', CAST(N'1965-07-08T22:05:05.0153879' AS DateTime2), 1, NULL)
INSERT [dbo].[Books] ([Id], [BookTitle], [ISBN], [PublishedAt], [IsDeleted], [Description]) VALUES (2, N'title modif', N'mo', CAST(N'2019-05-16T19:30:00.0000000' AS DateTime2), 0, NULL)
INSERT [dbo].[Books] ([Id], [BookTitle], [ISBN], [PublishedAt], [IsDeleted], [Description]) VALUES (3, N'KV0ZQCYOW0', N'20ZDBRDEQW5MV6M', CAST(N'1963-08-13T17:39:40.0415693' AS DateTime2), 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
ALTER TABLE [dbo].[Authors] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[AuthorBook]  WITH CHECK ADD  CONSTRAINT [FK_AuthorBook_Authors_AuthorId] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Authors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AuthorBook] CHECK CONSTRAINT [FK_AuthorBook_Authors_AuthorId]
GO
ALTER TABLE [dbo].[AuthorBook]  WITH CHECK ADD  CONSTRAINT [FK_AuthorBook_Books_BookId] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AuthorBook] CHECK CONSTRAINT [FK_AuthorBook_Books_BookId]
GO
ALTER TABLE [dbo].[BookHistories]  WITH CHECK ADD  CONSTRAINT [FK_BookHistories_Books_BookId] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookHistories] CHECK CONSTRAINT [FK_BookHistories_Books_BookId]
GO
